In [2]:
import pandas as pd
import re
import numpy as np

In [3]:
# Read the files
hksm_df = pd.read_csv('base_data/EG_HKSM_df_11_6.csv', header = 0)
e20_df = pd.read_csv('base_data/EG_20E_tc_04_22.csv', header = 0)
con_df = pd.read_csv('base_data/EG_Con_tc_04_22.csv', header = 0)

In [4]:
hksm_df['Origin'] = 'HKSM'
tf_col = ['kay_Jra','crp','bergman_Rel','GATA_elemento','srp_SANGER','xrp1','XBP1','EcR','ERR','USP','da','slp2_forkhead','Hnf4','Eip74EF']
hksm_df['tf_counts'] = hksm_df[tf_col].apply(lambda row: '; '.
                                             join([f'{col}: {int(row[col])}' for col in tf_col if row[col] > 0]),
                                             axis = 1)
hksm_df.rename(columns = {'Total_binding_sites ': 'TBS'}, inplace = True)
hksm_df

,Enhancer,Genes,2021 LogFC IMDvsCTRL,coSTARR LogFC HKSMvs20E,Immune Process,Time_cluster,kay_Jra,crp,bergman_Rel,GATA_elemento,...,ERR,USP,da,slp2_forkhead,Hnf4,Eip74EF,Activity_score,TBS,Origin,tf_counts
0,X:6201520-6202212(+),NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,2.0,NaN,393.5,6,HKSM,kay_Jra: 1; USP: 3; Hnf4: 2
1,X:1052748-1053673(+),FBgn0259241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,2.0,NaN,491.0,8,HKSM,xrp1: 1; XBP1: 1; EcR: 2; USP: 2; Hnf4: 2
2,X:1052748-1053673(+),FBgn0267174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,2.0,NaN,491.0,8,HKSM,xrp1: 1; XBP1: 1; EcR: 2; USP: 2; Hnf4: 2
3,X:1052748-1053673(+),FBgn0030257,0.291645,1.613984,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,2.0,NaN,491.0,8,HKSM,xrp1: 1; XBP1: 1; EcR: 2; USP: 2; Hnf4: 2
4,X:1052748-1053673(+),FBgn0030261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,2.0,NaN,491.0,8,HKSM,xrp1: 1; XBP1: 1; EcR: 2; USP: 2; Hnf4: 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13699,Y:49440-50073(+),FBgn0267432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,1000.0,3,HKSM,xrp1: 1; slp2_forkhead: 2
13700,Y:62528-63265(+),FBgn0001313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,1000.0,3,HKSM,xrp1: 1; slp2_forkhead: 2
13701,Y:674601-675291(+),NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,1000.0,3,HKSM,bergman_Rel: 1; srp_SANGER: 1; Eip74EF: 1
13702,Y:822007-822926(+),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,1000.0,3,HKSM,xrp1: 1; slp2_forkhead: 2
13703,Y:900825-901413(+),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,912.5,1,HKSM,slp2_forkhead: 1

In [5]:
e20_df['Origin'] = 'E20'
tf_col = ['XBP1','Trl','xrp1','USP','bergman_EcR_usp','CF2','bergman_Rel','da','crp','EcR','GATA_elemento','ERR','Eip74EF','h','gcm','kay_Jra','Hnf4','srp_SANGER','slp2_forkhead','Rel_FFS','Tgo']
e20_df['tf_counts'] = e20_df[tf_col].apply(lambda row: '; '.
                                           join([f'{col}: {int(row[col])}' for col in tf_col if row[col] > 0]),
                                           axis = 1)
e20_df

,Enhancer,Genes,Cells_20EvsCTRL.table.logFC,coSTARR LogFC 20EvsControl,Immune Process,Activity_score,XBP1,Trl,xrp1,USP,...,kay_Jra,Hnf4,srp_SANGER,slp2_forkhead,Rel_FFS,Tgo,TBS,Time Cluster,Origin,tf_counts
0,2R:16125955-16128021(+),FBgn0034075,-0.487171,-0.065139,NaN,882.200,NaN,NaN,2.0,NaN,...,3.0,NaN,1.0,5.0,NaN,3.0,20,NaN,E20,xrp1: 2; CF2: 2; bergman_Rel: 1; crp: 1; h: 1;...
1,2R:16125955-16128021(+),FBgn0034076,0.511375,NaN,NaN,882.200,NaN,NaN,2.0,NaN,...,3.0,NaN,1.0,5.0,NaN,3.0,20,NaN,E20,xrp1: 2; CF2: 2; bergman_Rel: 1; crp: 1; h: 1;...
2,2R:16125955-16128021(+),FBgn0010052,NaN,-3.331694,NaN,882.200,NaN,NaN,2.0,NaN,...,3.0,NaN,1.0,5.0,NaN,3.0,20,late_C1,E20,xrp1: 2; CF2: 2; bergman_Rel: 1; crp: 1; h: 1;...
3,2R:16125955-16128021(+),FBgn0050095,NaN,NaN,NaN,882.200,NaN,NaN,2.0,NaN,...,3.0,NaN,1.0,5.0,NaN,3.0,20,NaN,E20,xrp1: 2; CF2: 2; bergman_Rel: 1; crp: 1; h: 1;...
4,2R:16125955-16128021(+),FBgn0001124,-1.570842,-0.816459,NaN,882.200,NaN,NaN,2.0,NaN,...,3.0,NaN,1.0,5.0,NaN,3.0,20,late_C1,E20,xrp1: 2; CF2: 2; bergman_Rel: 1; crp: 1; h: 1;...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14149,Y:439484-439987(+),NaN,NaN,NaN,NaN,833.333,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,E20,
14150,Y:446190-446695(+),NaN,NaN,NaN,NaN,758.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,E20,
14151,Y:1095926-1096487(+),NaN,NaN,NaN,NaN,771.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,E20,
14152,Y:1384915-1385426(+),NaN,NaN,NaN,NaN,593.333,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,E20,
14153,Y:2846501-2847082(+),NaN,NaN,NaN,NaN,784.333,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,E20,

In [6]:
con_df['Origin'] = 'Control'
tf_col = ['XBP1','Trl','xrp1','USP','bergman_EcR_usp','CF2','bergman_Rel','da','crp','EcR','GATA_elemento','ERR','Eip74EF','h','gcm','kay_Jra','Hnf4','srp_SANGER','slp2_forkhead','Rel_FFS','Tgo']
con_df['tf_counts'] = con_df[tf_col].apply(lambda row: '; '.
                                           join([f'{col}: {int(row[col])}' for col in tf_col if row[col] > 0]),
                                           axis = 1)
con_df.drop('FB_Gene',axis = 1, inplace = True)
con_df

# Checked for mismatches where both fields are not null manually and found zero columns. Hence dropped FB_gene

,Enhancer,Genes,Control_ave,Immune Process,Activity_score,XBP1,Trl,xrp1,USP,bergman_EcR_usp,...,kay_Jra,Hnf4,srp_SANGER,slp2_forkhead,Rel_FFS,Tgo,TBS,Time Cluster,Origin,tf_counts
0,2L:72473-73145(+),FBgn0067779,13.061696,NaN,719.333,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,5,NaN,Control,xrp1: 1; CF2: 1; bergman_Rel: 1; crp: 1; Rel_F...
1,2L:72473-73145(+),FBgn0031213,79.478033,NaN,719.333,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,5,NaN,Control,xrp1: 1; CF2: 1; bergman_Rel: 1; crp: 1; Rel_F...
2,2L:72473-73145(+),FBgn0031214,5.920118,NaN,719.333,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,5,NaN,Control,xrp1: 1; CF2: 1; bergman_Rel: 1; crp: 1; Rel_F...
3,2L:72473-73145(+),FBgn0002931,10.084788,NaN,719.333,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,5,NaN,Control,xrp1: 1; CF2: 1; bergman_Rel: 1; crp: 1; Rel_F...
4,2L:72473-73145(+),FBgn0051973,0.453960,NaN,719.333,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,5,NaN,Control,xrp1: 1; CF2: 1; bergman_Rel: 1; crp: 1; Rel_F...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11267,Y:2489608-2490328(+),NaN,NaN,NaN,1000.000,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,2,NaN,Control,xrp1: 1; slp2_forkhead: 1
11268,Y:2688952-2689763(+),NaN,NaN,NaN,904.667,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,8,NaN,Control,xrp1: 2; GATA_elemento: 3; srp_SANGER: 3
11269,Y:2742746-2743478(+),NaN,NaN,NaN,971.667,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,3.0,NaN,NaN,NaN,10,NaN,Control,xrp1: 2; CF2: 2; GATA_elemento: 3; srp_SANGER: 3
11270,Y:3012477-3013232(+),NaN,NaN,NaN,1000.000,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,3,NaN,Control,xrp1: 1; h: 1; srp_SANGER: 1
11271,Y:3639552-3640158(+),NaN,NaN,NaN,892.667,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,4,NaN,Control,xrp1: 1; slp2_forkhead: 3

In [7]:
# Combine the dataframes
enhancer_df = pd.concat([hksm_df, e20_df, con_df])
enhancer_df.rename(columns = {'tf_counts': 'TF Counts'},inplace = True)
enhancer_df

,Enhancer,Genes,2021 LogFC IMDvsCTRL,coSTARR LogFC HKSMvs20E,Immune Process,Time_cluster,kay_Jra,crp,bergman_Rel,GATA_elemento,...,coSTARR LogFC 20EvsControl,Trl,bergman_EcR_usp,CF2,h,gcm,Rel_FFS,Tgo,Time Cluster,Control_ave
0,X:6201520-6202212(+),NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,X:1052748-1053673(+),FBgn0259241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,X:1052748-1053673(+),FBgn0267174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,X:1052748-1053673(+),FBgn0030257,0.291645,1.613984,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,X:1052748-1053673(+),FBgn0030261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11267,Y:2489608-2490328(+),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11268,Y:2688952-2689763(+),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11269,Y:2742746-2743478(+),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
11270,Y:3012477-3013232(+),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
11271,Y:3639552-3640158(+),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Enhancer Table

In [8]:
# Extract the 'Enhancer' column
enhancer = enhancer_df['Enhancer']

# Parse chromosome, start, and end from the Enhancer string
enhancer_df['Chromosome'] = enhancer.apply(lambda x: x.split(':')[0])
enhancer_df['Start'] = enhancer.apply(lambda x: int(re.search(r':(\d+)-', x).group(1)))
enhancer_df['End'] = enhancer.apply(lambda x: int(re.search(r'-(\d+)', x).group(1)))

In [9]:
# Display the updated DataFrame and store it to csv
enhancer_df.reset_index(drop = True, inplace = True)
enhancer_df[['Enhancer', 'Chromosome', 'Start', 'End','TF Counts','TBS']].drop_duplicates().to_csv('enhancer.csv', index = False)

# Genes Table

In [10]:
# gene csv
gene_df = enhancer_df[['Genes','Immune Process','Time_cluster']]
gene_df.reset_index(drop = True, inplace = True)
gene_df.rename(columns = {'Genes':'gene_id'},inplace = True)
gene_df

/var/folders/mh/p8rsw7z90bv6kv8r8qnf4tnr0000gn/T/ipykernel_46376/2957203826.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gene_df.rename(columns = {'Genes':'gene_id'},inplace = True)

           gene_id Immune Process Time_cluster
0              NaN            NaN          NaN
1      FBgn0259241            NaN          NaN
2      FBgn0267174            NaN          NaN
3      FBgn0030257            NaN          NaN
4      FBgn0030261            NaN          NaN
...            ...            ...          ...
39125          NaN            NaN          NaN
39126          NaN            NaN          NaN
39127          NaN            NaN          NaN
39128          NaN            NaN          NaN
39129          NaN            NaN          NaN

[39130 rows x 3 columns]

In [11]:
# Make a unique list of genes
unique_genes =gene_df['gene_id'].dropna().unique()
unique_genes = unique_genes.tolist()

In [12]:
# Read gtf file
gtf_file = pd.read_csv('dmel-all-r6.62.gtf',header = None, sep = '\t')
gtf_file = gtf_file.loc[(gtf_file[2] == 'gene')]

# Regex
gtf_file['gene_id'] = gtf_file[8].str.extract(r'gene_id\s+"(FBgn\d+)"')
gtf_file['gene_name'] = gtf_file[8].str.extract(r'gene_symbol\s+"([^"]+)"')
gtf_file

,0,1,2,3,4,5,6,7,8,gene_id,gene_name
0,X,FlyBase,gene,19961297,19969323,.,+,.,"gene_id ""FBgn0031081""; gene_symbol ""Nep3"";",FBgn0031081,Nep3
67,X,FlyBase,gene,20025099,20025170,.,+,.,"gene_id ""FBgn0052826""; gene_symbol ""tRNA:Pro-C...",FBgn0052826,tRNA:Pro-CGG-1-1
70,X,FlyBase,gene,20051294,20052519,.,+,.,"gene_id ""FBgn0031085""; gene_symbol ""CG9570"";",FBgn0031085,CG9570
78,X,FlyBase,gene,20094398,20095767,.,+,.,"gene_id ""FBgn0062565""; gene_symbol ""Or19b"";",FBgn0062565,Or19b
88,X,FlyBase,gene,20133579,20138878,.,+,.,"gene_id ""FBgn0031088""; gene_symbol ""CG15322"";",FBgn0031088,CG15322
...,...,...,...,...,...,...,...,...,...,...,...
549252,2L,FlyBase,gene,737212,744395,.,-,.,"gene_id ""FBgn0026438""; gene_symbol ""Eaat2"";",FBgn0026438,Eaat2
549312,2L,FlyBase,gene,620298,621201,.,-,.,"gene_id ""FBgn0040106""; gene_symbol ""lectin-21Cb"";",FBgn0040106,lectin-21Cb
549320,2L,FlyBase,gene,305935,355566,.,+,.,"gene_id ""FBgn0004611""; gene_symbol ""Plc21C"";",FBgn0004611,Plc21C
549555,2L,FlyBase,gene,322101,323091,.,+,.,"gene_id ""FBgn0053127""; gene_symbol ""CG33127"";",FBgn0053127,CG33127
549563,2L,FlyBase,gene,378112,387439,.,+,.,"gene_id ""FBgn0000061""; gene_symbol ""al"";",FBgn0000061,al

In [13]:
gene_df

           gene_id Immune Process Time_cluster
0              NaN            NaN          NaN
1      FBgn0259241            NaN          NaN
2      FBgn0267174            NaN          NaN
3      FBgn0030257            NaN          NaN
4      FBgn0030261            NaN          NaN
...            ...            ...          ...
39125          NaN            NaN          NaN
39126          NaN            NaN          NaN
39127          NaN            NaN          NaN
39128          NaN            NaN          NaN
39129          NaN            NaN          NaN

[39130 rows x 3 columns]

In [14]:
# Filter
filtered_genes = gtf_file[gtf_file['gene_id'].isin(unique_genes)]
filtered_genes

result_df = pd.merge(filtered_genes[['gene_id', 0, 3, 4, 'gene_name']],gene_df[['gene_id','Immune Process', 'Time_cluster']],on = 'gene_id', how = 'left')
result_df.columns = ['GeneID','Chromosome', 'Start', 'End', 'GeneName','Immune Process','Time_cluster']
result_df.drop_duplicates(ignore_index = True,inplace = True)
result_df.reset_index(drop=True, inplace=True)
result_df

,GeneID,Chromosome,Start,End,GeneName,Immune Process,Time_cluster
0,FBgn0053217,3L,23126025,23132209,CG33217,NaN,NaN
1,FBgn0052350,3L,23147656,23150499,Vps11,NaN,NaN
2,FBgn0040364,X,1170828,1173797,CG11378,NaN,NaN
3,FBgn0040362,X,1180165,1181551,CG11379,NaN,NaN
4,FBgn0040361,X,1181620,1183502,CG14627,NaN,NaN
...,...,...,...,...,...,...,...
10519,FBgn0031281,2L,813314,815950,Saf6,NaN,NaN
10520,FBgn0000442,2L,786153,790798,Pkg21D,NaN,NaN
10521,FBgn0026438,2L,737212,744395,Eaat2,NaN,NaN
10522,FBgn0004611,2L,305935,355566,Plc21C,NaN,NaN
10523,FBgn0000061,2L,378112,387439,al,NaN,NaN

In [15]:
result_df.to_csv('genes.csv', index = False)

# Associations Table

In [16]:
enhancer_df

,Enhancer,Genes,2021 LogFC IMDvsCTRL,coSTARR LogFC HKSMvs20E,Immune Process,Time_cluster,kay_Jra,crp,bergman_Rel,GATA_elemento,...,CF2,h,gcm,Rel_FFS,Tgo,Time Cluster,Control_ave,Chromosome,Start,End
0,X:6201520-6202212(+),NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,6201520,6202212
1,X:1052748-1053673(+),FBgn0259241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,1052748,1053673
2,X:1052748-1053673(+),FBgn0267174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,1052748,1053673
3,X:1052748-1053673(+),FBgn0030257,0.291645,1.613984,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,1052748,1053673
4,X:1052748-1053673(+),FBgn0030261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,1052748,1053673
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39125,Y:2489608-2490328(+),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,2489608,2490328
39126,Y:2688952-2689763(+),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,2688952,2689763
39127,Y:2742746-2743478(+),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Y,2742746,2743478
39128,Y:3012477-3013232(+),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,Y,3012477,3013232
39129,Y:3639552-3640158(+),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,3639552,3640158

In [17]:
asc_df = enhancer_df[['Enhancer','Genes','2021 LogFC IMDvsCTRL','Cells_20EvsCTRL.table.logFC','coSTARR LogFC HKSMvs20E','coSTARR LogFC 20EvsControl', 'Origin','Activity_score']]

asc_df

,Enhancer,Genes,2021 LogFC IMDvsCTRL,Cells_20EvsCTRL.table.logFC,coSTARR LogFC HKSMvs20E,coSTARR LogFC 20EvsControl,Origin,Activity_score
0,X:6201520-6202212(+),NaN,NaN,NaN,NaN,NaN,HKSM,393.500
1,X:1052748-1053673(+),FBgn0259241,NaN,NaN,NaN,NaN,HKSM,491.000
2,X:1052748-1053673(+),FBgn0267174,NaN,NaN,NaN,NaN,HKSM,491.000
3,X:1052748-1053673(+),FBgn0030257,0.291645,NaN,1.613984,NaN,HKSM,491.000
4,X:1052748-1053673(+),FBgn0030261,NaN,NaN,NaN,NaN,HKSM,491.000
...,...,...,...,...,...,...,...,...
39125,Y:2489608-2490328(+),NaN,NaN,NaN,NaN,NaN,Control,1000.000
39126,Y:2688952-2689763(+),NaN,NaN,NaN,NaN,NaN,Control,904.667
39127,Y:2742746-2743478(+),NaN,NaN,NaN,NaN,NaN,Control,971.667
39128,Y:3012477-3013232(+),NaN,NaN,NaN,NaN,NaN,Control,1000.000
39129,Y:3639552-3640158(+),NaN,NaN,NaN,NaN,NaN,Control,892.667

In [18]:
asc_df[[]].notna()
asc_df = asc_df[~asc_df[['Genes',
                 '2021 LogFC IMDvsCTRL',
                'Cells_20EvsCTRL.table.logFC',
                'coSTARR LogFC HKSMvs20E',
                'coSTARR LogFC 20EvsControl']].isnull().all(axis=1)]
asc_df

,Enhancer,Genes,2021 LogFC IMDvsCTRL,Cells_20EvsCTRL.table.logFC,coSTARR LogFC HKSMvs20E,coSTARR LogFC 20EvsControl,Origin,Activity_score
1,X:1052748-1053673(+),FBgn0259241,NaN,NaN,NaN,NaN,HKSM,491.0
2,X:1052748-1053673(+),FBgn0267174,NaN,NaN,NaN,NaN,HKSM,491.0
3,X:1052748-1053673(+),FBgn0030257,0.291645,NaN,1.613984,NaN,HKSM,491.0
4,X:1052748-1053673(+),FBgn0030261,NaN,NaN,NaN,NaN,HKSM,491.0
5,X:1052748-1053673(+),FBgn0030260,NaN,NaN,NaN,NaN,HKSM,491.0
...,...,...,...,...,...,...,...,...
39104,Y:1010610-1011333(+),FBgn0267902,NaN,NaN,NaN,NaN,Control,1000.0
39105,Y:1010610-1011333(+),FBgn0267903,NaN,NaN,NaN,NaN,Control,1000.0
39106,Y:1010610-1011333(+),FBgn0267904,NaN,NaN,NaN,NaN,Control,1000.0
39107,Y:1010610-1011333(+),FBgn0267905,NaN,NaN,NaN,NaN,Control,1000.0
39108,Y:1010610-1011333(+),FBgn0283435,NaN,NaN,NaN,NaN,Control,1000.0

In [19]:
asc_df.reset_index(drop = True, inplace = True)
asc_df.drop_duplicates(ignore_index = True,inplace = True)
asc_df.to_csv('associations.csv', index = False)

/var/folders/mh/p8rsw7z90bv6kv8r8qnf4tnr0000gn/T/ipykernel_46376/3587482299.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  asc_df.drop_duplicates(ignore_index = True,inplace = True)